.ipynb_checkpoints/
.DS_Store
*.pyc
extras/
.code-workspace
.vscode
.joblib

# vscode
*.code-workspace
/.vscode/*.code-workspace
4 - Machine Learning/22 - Scikit-learn Pipelines/bank_churn_pipeline.joblib
.vscode/settings.json

# Logging files
4 - Machine Learning/20 - Logging/my_ml_project.log

# Ignore all MLFlow mlruns directories and their contents
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/
5 - Model Deployment and MLOps/03 - MLFlow/mlflow.db
5 - Model Deployment and MLOps/01 - Streamlit Deployment/2 - Data Professor/3_Penguin App/penguins_clf.pkl
.vscode/settings.json
.vscode/settings.json
