.ipynb_checkpoints/
.DS_Store
*.pyc
extras/
.code-workspace
.vscode
.joblib

# vscode
*.code-workspace
/.vscode/*.code-workspace
4 - Machine Learning/22 - Scikit-learn Pipelines/bank_churn_pipeline.joblib
.vscode/settings.json
