.ipynb_checkpoints/
.DS_Store
*.pyc
extras/
.code-workspace
.vscode
.joblib

# vscode
*.code-workspace
/.vscode/*.code-workspace
4 - Machine Learning/22 - Scikit-learn Pipelines/bank_churn_pipeline.joblib
.vscode/settings.json
.vscode/settings.json
5 - Model Deployment and MLOps/03 - MLFlow/mlflow.db
5 - Model Deployment and MLOps/01 - Streamlit Deployment/2 - Data Professor/3_Penguin App/penguins_clf.pkl
4 - Machine Learning/20 - Logging/my_ml_project.log
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/1/models/m-a883e918ed924bdeb4d94fb614e5e75b/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/1/models/m-a883e918ed924bdeb4d94fb614e5e75b/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/1/models/m-a883e918ed924bdeb4d94fb614e5e75b/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/1/models/m-a883e918ed924bdeb4d94fb614e5e75b/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/1/models/m-a883e918ed924bdeb4d94fb614e5e75b/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-0d150868e0cb4b8993b90f7c9006ffa0/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-0d150868e0cb4b8993b90f7c9006ffa0/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-0d150868e0cb4b8993b90f7c9006ffa0/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-0d150868e0cb4b8993b90f7c9006ffa0/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-0d150868e0cb4b8993b90f7c9006ffa0/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-0ef2a9762e1d47b29caad479ebe98378/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-0ef2a9762e1d47b29caad479ebe98378/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-0ef2a9762e1d47b29caad479ebe98378/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-0ef2a9762e1d47b29caad479ebe98378/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-0ef2a9762e1d47b29caad479ebe98378/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-37757451428e4d4e9bcfd4a2022d08a1/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-37757451428e4d4e9bcfd4a2022d08a1/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-37757451428e4d4e9bcfd4a2022d08a1/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-37757451428e4d4e9bcfd4a2022d08a1/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-37757451428e4d4e9bcfd4a2022d08a1/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-383dfaa6cced4bd7906556299bd881c6/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-383dfaa6cced4bd7906556299bd881c6/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-383dfaa6cced4bd7906556299bd881c6/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-383dfaa6cced4bd7906556299bd881c6/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-383dfaa6cced4bd7906556299bd881c6/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-399354937f15435fbeb45e7cbdbcc5d3/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-399354937f15435fbeb45e7cbdbcc5d3/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-399354937f15435fbeb45e7cbdbcc5d3/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-399354937f15435fbeb45e7cbdbcc5d3/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-399354937f15435fbeb45e7cbdbcc5d3/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-3b7fdbd2d6f74bd2ad7a885f50b97d4c/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-3b7fdbd2d6f74bd2ad7a885f50b97d4c/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-3b7fdbd2d6f74bd2ad7a885f50b97d4c/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-3b7fdbd2d6f74bd2ad7a885f50b97d4c/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-3b7fdbd2d6f74bd2ad7a885f50b97d4c/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-4d4d42a0178a4b0aa2af1b007ba12d46/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-4d4d42a0178a4b0aa2af1b007ba12d46/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-4d4d42a0178a4b0aa2af1b007ba12d46/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-4d4d42a0178a4b0aa2af1b007ba12d46/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-4d4d42a0178a4b0aa2af1b007ba12d46/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-63e172ac6c5f4d6a860e2124db29f5d7/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-63e172ac6c5f4d6a860e2124db29f5d7/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-63e172ac6c5f4d6a860e2124db29f5d7/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-63e172ac6c5f4d6a860e2124db29f5d7/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-63e172ac6c5f4d6a860e2124db29f5d7/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-658a4b909b3445418f5384fd26e8b822/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-658a4b909b3445418f5384fd26e8b822/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-658a4b909b3445418f5384fd26e8b822/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-658a4b909b3445418f5384fd26e8b822/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-658a4b909b3445418f5384fd26e8b822/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-6c93681e4ffb4e60aeb01a7830689b1f/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-6c93681e4ffb4e60aeb01a7830689b1f/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-6c93681e4ffb4e60aeb01a7830689b1f/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-6c93681e4ffb4e60aeb01a7830689b1f/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-6c93681e4ffb4e60aeb01a7830689b1f/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-70870e489b424267a9c55eac96e1bfd6/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-70870e489b424267a9c55eac96e1bfd6/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-70870e489b424267a9c55eac96e1bfd6/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-70870e489b424267a9c55eac96e1bfd6/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-70870e489b424267a9c55eac96e1bfd6/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-8355a3d077bd40479db36b9c109af513/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-8355a3d077bd40479db36b9c109af513/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-8355a3d077bd40479db36b9c109af513/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-8355a3d077bd40479db36b9c109af513/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-8355a3d077bd40479db36b9c109af513/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-96466f3452304b168bf409a09629b7b1/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-96466f3452304b168bf409a09629b7b1/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-96466f3452304b168bf409a09629b7b1/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-96466f3452304b168bf409a09629b7b1/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-96466f3452304b168bf409a09629b7b1/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-98348a9474044ef4a61dfa9497459428/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-98348a9474044ef4a61dfa9497459428/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-98348a9474044ef4a61dfa9497459428/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-98348a9474044ef4a61dfa9497459428/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-98348a9474044ef4a61dfa9497459428/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-b2112da6bf32473f97c85222c2a3e68e/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-b2112da6bf32473f97c85222c2a3e68e/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-b2112da6bf32473f97c85222c2a3e68e/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-b2112da6bf32473f97c85222c2a3e68e/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-b2112da6bf32473f97c85222c2a3e68e/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-b8d09731619b41fba1bebded1fb4844d/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-b8d09731619b41fba1bebded1fb4844d/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-b8d09731619b41fba1bebded1fb4844d/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-b8d09731619b41fba1bebded1fb4844d/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-b8d09731619b41fba1bebded1fb4844d/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-c6511c63d19445fea26af999a4f93653/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-c6511c63d19445fea26af999a4f93653/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-c6511c63d19445fea26af999a4f93653/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-c6511c63d19445fea26af999a4f93653/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-c6511c63d19445fea26af999a4f93653/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-c6f16e670fab4d53a025239a411a84f5/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-c6f16e670fab4d53a025239a411a84f5/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-c6f16e670fab4d53a025239a411a84f5/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-c6f16e670fab4d53a025239a411a84f5/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-c6f16e670fab4d53a025239a411a84f5/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-dd0c6b5d1f344c25861f4f3e38163847/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-dd0c6b5d1f344c25861f4f3e38163847/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-dd0c6b5d1f344c25861f4f3e38163847/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-dd0c6b5d1f344c25861f4f3e38163847/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-dd0c6b5d1f344c25861f4f3e38163847/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-e8d25d874f0b4a0e997a2ec0e0a5925a/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-e8d25d874f0b4a0e997a2ec0e0a5925a/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-e8d25d874f0b4a0e997a2ec0e0a5925a/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-e8d25d874f0b4a0e997a2ec0e0a5925a/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-e8d25d874f0b4a0e997a2ec0e0a5925a/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-eabf6e935ce8403fb994cd5aa4233cf1/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-eabf6e935ce8403fb994cd5aa4233cf1/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-eabf6e935ce8403fb994cd5aa4233cf1/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-eabf6e935ce8403fb994cd5aa4233cf1/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-eabf6e935ce8403fb994cd5aa4233cf1/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-eef7461c47ad4d8682fa470b1793c74f/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-eef7461c47ad4d8682fa470b1793c74f/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-eef7461c47ad4d8682fa470b1793c74f/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-eef7461c47ad4d8682fa470b1793c74f/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-eef7461c47ad4d8682fa470b1793c74f/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-f174e2c5ee2046aa8294e4ff1a2456ee/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-f174e2c5ee2046aa8294e4ff1a2456ee/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-f174e2c5ee2046aa8294e4ff1a2456ee/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-f174e2c5ee2046aa8294e4ff1a2456ee/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-f174e2c5ee2046aa8294e4ff1a2456ee/artifacts/requirements.txt
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-f2c05b48fba74d96a5cebc06158918a9/artifacts/conda.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-f2c05b48fba74d96a5cebc06158918a9/artifacts/MLmodel
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-f2c05b48fba74d96a5cebc06158918a9/artifacts/model.pkl
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-f2c05b48fba74d96a5cebc06158918a9/artifacts/python_env.yaml
5 - Model Deployment and MLOps/03 - MLFlow/mlruns/4/models/m-f2c05b48fba74d96a5cebc06158918a9/artifacts/requirements.txt
.vscode/settings.json
